<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form id="actornet_test">
                <input type="text" id="echoMessage" />
                <input type="button" id="askButton" value="Send echo"/>
            </form>
            <div>
                <ul id="responses"></ul>
            </div>
        </div>
    </div>
</div>